<div class="fifth-element">
    <h5 class="divide-text">Instant Grams</h5>
    <div class="gallery">
      <img src="https://source.unsplash.com/random/201x201" alt="">
      <img src="https://source.unsplash.com/random/202x202" alt="">
      <img src="https://source.unsplash.com/random/203x203" alt="">
      <img src="https://source.unsplash.com/random/204x204" alt="">
      <img src="https://source.unsplash.com/random/205x205" alt="">
      <img src="https://source.unsplash.com/random/206x206" alt="">
      <img src="https://source.unsplash.com/random/207x207" alt="">
      <img src="https://source.unsplash.com/random/207x208" alt="">
      <img src="https://source.unsplash.com/random/207x209" alt="">
      <img src="https://source.unsplash.com/random/207x210" alt="">
    </div>
</div>
@code{

}