<div class="fourth-element">
    <img src="https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/queso-taco.png"/>
    <div class="fourth-element-des">
        <p class="txt1">Featured Tacos!</p>
        <p class="txt2">Slim Profile, easy to hold and loaded with cheese.</p>
        <p class="txt2">This is the one you have been waiting for</p>
        <button>Learn more</button>
    </div>
</div>
@code {

}
