<div class="second-element">
    <div class="featured c1">
        <h3>Terry's Taco Joint</h3>
        <p>Pretty Good Tacos!</p>
    </div>
    <div class="option c2">
        <h1>$3.99</h1>
        <h5>Kombucha</h5>
    </div>
    <div class="option c3">
        <h1>$1.99</h1>
        <h5>Tacos</h5>
    </div>
</div>
@code {

}
