<div class="third-option">
    <p id="one">@IconString</p>
    <p id="two">@Name</p>
    <p id="three">@Description</p>
</div>
@code {
    [Parameter]
    public string IconString { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Description { get; set; }
}
