<div class="third-element">
    <ThirdOption IconString="🌮" Name="Tacos" Description="This is just a description" />
    <ThirdOption IconString="🍺" Name="Beer" Description="This is just a description" />
    <ThirdOption IconString="🍷" Name="Wine" Description="This is just a description" />
    <ThirdOption IconString="🎵" Name="Music" Description="This is just a description" />

</div>
@code {

}
