.third-option{
    background-color:white;
    width:22%;
}
p {
    text-align: center;
    margin-bottom: 0;
}
#one{
    font-size:40px;
    padding-top:10px;
    
}
#two{
    font-weight:bold;
    font-size:17px;
    padding-bottom:10px;
}
#three{
    font-size:13px;
    font-weight:bold;
    color:gray;
    padding-bottom:15px;
}
