.header-option[b-zmwtahojy8] {
    height: 50px;
    border: none;
    background-color: #ffd800;
    margin-top: 20px;
    font-weight: bold;
    width:17%;
    font-size:20px;
    text-transform:uppercase;
}
