.third-option[b-vp0bgovq2h]{
    background-color:white;
    width:22%;
}
p[b-vp0bgovq2h] {
    text-align: center;
    margin-bottom: 0;
}
#one[b-vp0bgovq2h]{
    font-size:40px;
    padding-top:10px;
    
}
#two[b-vp0bgovq2h]{
    font-weight:bold;
    font-size:17px;
    padding-bottom:10px;
}
#three[b-vp0bgovq2h]{
    font-size:13px;
    font-weight:bold;
    color:gray;
    padding-bottom:15px;
}
