.fifth-element{
    display:flex;
}
.fifth-element-content1{
    flex:50%;
    text-align:center;
    background-color:#00b1ff;
    color:white;
}
.fifth-element-content2{
    flex:50%;
    text-align:center;
    background-color:#333333;
    color:white;
}
h3{
    padding-top:50px;
    padding-bottom:50px;
    margin:auto;
    font-weight:bold;
}
h5{
    padding-bottom:50px;
    margin:auto;
    width:75%;
}
