<div class="footer-element">
    <div class="footer-element-content1">
        <h5>Acme Web Solution</h5>
    </div>
    <div class="footer-element-content2">
        <span>Project By</span>
        <span id="colored">Traversy Media</span>
    </div>
</div>
@code {

}
