<div class="head-element">
    <div class="bg-img">

    </div>
    <div class="head-content">
        <h2>Welcome to Acme Web Solutions</h2>
        <h5>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eum error earum soluta voluptatum nisi laboriosam eos saepe asperiores dolorum.
        </h5>
        <button>Read More</button>
    </div>
</div>
@code {

}
