<div class="second-element">
    <h3>Web & Application Development</h3>
    <div class="second-element-text">
        <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint eligendi possimus? Unde officiis magnam laborum ipsa distinctio odio, vero dolores
        </h5>
        <h5>
            dicta aliquam aperiam repellendus. Perferendis officiis deserunt velit voluptas nobis sequi animi totam, accusantium, ex eius quia, natus quo?
        </h5>
    </div>
</div>
@code {

}
