<div class="third-element">
    <Panel ImgSrc="https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg" Title="Web Development" />
    <Panel ImgSrc="https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg" Title="Mobile Applications" />
    <Panel ImgSrc="https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg" Title="Tech Marketing" />


</div>
@code {

}
