.forth-component[b-vxakkzjuq5]{
    width:100%;
}
h3[b-vxakkzjuq5], h5[b-vxakkzjuq5]{
    
    text-align:center;
}
h3[b-vxakkzjuq5]{
    font-weight:bold;
    padding-top:50px;
}
h5[b-vxakkzjuq5] {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    width: 80%;
}