.panel[b-lsj7y6pa7k]{
    width:270px;
    height:450px;
    background-color:white;
}
.panel-img[b-lsj7y6pa7k]{
    width:100%;
    display:block;
    height:auto;
    padding-bottom:50px;
}
h6[b-lsj7y6pa7k], h5[b-lsj7y6pa7k]{
    padding-bottom:50px;
    text-align:center;
    margin:auto
}
h5[b-lsj7y6pa7k]{
    font-weight:bold;
}
h6[b-lsj7y6pa7k]{
    width:75%;
    color:gray;
}
